<section class="pain block">
    <div class="container">
        <div class="title">Почему болят ваши <span class="accent">суставы</span></div>
        <div class="pain-content">
            <div class="pain-content-box">
                <div class="pain-content-box__text1">
                <p class="pain-content-box__head accent">Болями в суставах в той или иной форме<br>
                    страдает до 5/6 всех людей в возрасте от 35 лет. </p>
                <p class="pain-content-box__text">Эти боли бывают кратковременными <br>
                    или продолжительными, слабыми или интенсивными, локальными или распространенными – но все они значительно снижают качество жизни, а в ряде случаев приводят к нетрудоспособности. Чаще всего больным ставится <b>диагноз артроз или артрит</b> — две группы наиболее распространенных заболеваний суставов.
                </p>
                </div>
                <div class="pain-content-box__video">
                    <div class="pain-content-box__note"><span class="accent">Видео:</span> Что такое заболевания суставов</div>
                    <div class="youtube" id="nbn5RgLW7iY" style="width: 100%; height: 307px;"></div>
                </div>
            </div>
            <div class="pain-content-box">
            	<div class="pain-content-box__container">
            		<div class="pain-content-box__img pain-content-box__img1">
            			<img src="img/joint-before.png" alt="joint-before">
            			<div class="pain-content-box__bt">Больной сустав</div>
            			<div class="pain-content-box__bcheckboxr"></div>	
            		</div>
            		<div class="pain-content-box__img">
            			<img src="img/joint-after.png" alt="joint-after">
            			<div class="pain-content-box__bt">Здоровый сустав</div>
            			<div class="pain-content-box__bcheckboxg"></div>	
            		</div>
            	</div>
                <div class="pain-content-box__text2">
                <p class="pain-content-box__head accent">В 90% случаев причиной этих болезней является старение сустава - возрастное или преждевременное. </p>
                <p class="pain-content-box__text">Оно проявляется в том, что <b>хрящ не имеет полноценного кровоснабжения и не может самостоятельно восстанавливаться, поэтому суставная поверхность постепенно "стирается". Таким образом, хрящ 35-летнего человека может иметь состояние <span class="nowrap">60-летнего</span>.</b>
                </p>
                </div>
            </div>
            
        </div>
        <div class="pain-theme">Боль – это проявление износа и старения суставов</div>
    </div>
</section>