<section class="health block">
    <div class="container">
        <h2 class="title"><span class="accent">Гиалуроновая кислота –</span> <br> основа здоровья и молодости суставов</h2>
        <p class="health__subtitle"><span class="health__subtitle-accent">Гиалуроновая кислота</span> обеспечивает подвижность и гибкость всех суставов в теле</p>
        <ul class="health__desc">
            <li class="health__text health__text_left">
                <p>Гиалуроновая кислота – естественный компонент тела человека. Наибольшая 
                её концентрация – в суставах.</p>
                <p><span class="health__text-accent">Она активно вырабатывается в молодом организме – до 25 лет.</span>
                    Позже ее выработка постепенно сходит на нет.</p>
            </li>
            <li class="health__pic">
                <div class="health__wrap">
                    <img src="img/health-drops.png" alt="" class="health__pic-drpops">
                    <img src="img/health-skin.png" alt="" class="health__pic-skin">
                </div>
            </li>
            <li class="health__text health__text_right">
                Уникальность этого вещества в том, 
                что <span class="health__text-accent">одна его молекула притягивает 
                        и удерживает 1000 молекул воды</span>, обеспечивая отличное увлажнение
                и омоложение.   
            </li>
        </ul>
        <div class="health__note">
            <div class="health__note-pic">
                <img src="img/health-note-img.png" alt="" class="health__note-img">
            </div>
            <div class="health__note-text">
                <p>Гиалуроновая кислота  давно используется в косметологии как основной компонент кремов, 
                масок и восстанавливающих коктейлей. </p>
                <p>А с недавних пор – и <span class="health__note-accent">для восстановления суставов</span>.</p> 
            </div>
        </div>
        <div class="health__act">
            <p class="health__act-title">Действие гиалуроновой кислоты при разных типах применения</p>
            <ul class="health__list">
                <li class="health__item">
                    <div class="health__item-pic">
                        <img src="img/health-act-cream.png" alt="" class="health__item-img">
                    </div>
                    <p class="health__item-title">Внешнее применение</p>
                    <div class="health__item-remark">Лечат симптомы, <br> но не восстанавливают суставы.</div>
                    <div class="health__item-desc">
                        <div class="health__item-btn"></div>
                        <p>Мази и кремы действуют поверхностно, хорошо снимая симптомы, но не проникая к хрящу. Поэтому само заболевание они не лечат.  Диаметр молекулы гиалуроновой кислоты — около 3000 нм, в то время как расстояние между клетками кожи не превышает 50 нм. Таким образом, размер её молекул не позволяет ей проникать глубоко в кожу - все вещество остается на поверхности.</p> 
                    </div>
                </li>
                <li class="health__item">
                    <div class="health__item-pic">
                        <img src="img/health-act-syringe.png" alt="" class="health__item-img">
                    </div>
                    <p class="health__item-title">Инъекции</p>
                    <div class="health__item-remark">Лечат суставы локально, <br> но не действуют на весь организм.</div>
                    <div class="health__item-desc">
                        <div class="health__item-btn"></div>
                       <p>Болезненны и дороги, имеют местный эффект и ряд противопоказаний. Гиалуроновая кислота проникает в хрящ и “смазывает” его, поэтому больному действительно становится лучше. Однако болезни суставов зачастую имеют “вирусный” эффект - сначала заболевает один сустав, а со временем болезнь переходит на другие. В таком случае уколов приходится делать много, а это долго и очень недешево.</p> 
                    </div>
                </li>
                <li class="health__item">
                    <div class="health__item-pic">
                        <img src="img/health-act-capsule.png" alt="" class="health__item-img">
                    </div>
                    <p class="health__item-title">Внутреннее применение</p>
                    <div class="health__item-remark">Действует на весь организм, омолаживая все суставы.</div>
                    <div class="health__item-desc">
                        <div class="health__item-btn"></div>
                       <p>Гиалуроновая кислота попадает в тонкий кишечник, где вступает во взаимодействия с ферментами и, не теряя своих свойств, попадает в кровь, а через неё — в хрящевые ткани всего организма! Именно поэтому прием ее вовнутрь настолько эффективен. Кроме того, гиалуроновая кислота выступает в качестве проводника для других веществ - поэтому она особенно эффективна в лечении болезней суставов.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>