<section class="composition block">
    <div class="container">
        <h2 class="title">Инновационная формула <span class="logo__number">20</span><span class="accent">FLEX+</span></h2>
        <div class="composition-subtitle">с гиалуроновой кислотой является мощным проводником полезных компонентов внутрь сустава, <br>
            что делает <b>20Flex+</b> особенно эффективным для омоложения суставов.</div>
            <div class="composition-content">
            	<div class="composition-content-box">
            		<div class="composition-component">
                  
            			<div class="composition-component__img"><img src="img/component1.png" alt="component"></div>
                  <div class="composition-overflow">
            			<div class="composition-component__name">Хондроитин</div>
            			<div class="composition-component__text">Укрепляет структуру хряща, сухожилий, связок, обезболивает, снимает воспаление, <b>запускает регенерацию хряща,</b> стимулирует синтез гиалуроновой кислоты. Улучшает фосфорно-кальциевый обмен в хрящевой ткани, тормозит процессы дегенерации хрящевой и соединительной ткани.</div>
                  </div>
            			<div class="composition-component__btn">
               				<div class="composition-component__cbtn">
                                  <img src="img/btn-arrow.png" alt="arrow">
                            </div>
           				</div>
            		</div>
            		<div class="composition-component">
            			<div class="composition-component__img composition-component__img2"><img src="img/component2.png" alt="component"></div>
                  <div class="composition-overflow">
            			<div class="composition-component__name">Экстракт зеленых мидий</div>
            			<div class="composition-component__text">улучшает кровообращение в суставе, <b>укрепляет костную и хрящевую ткани,</b> содержит в составе полезные для суставов микроэлементы, витамины В2, В2, В6,  В12, РР, D и Е.</div>
                </div>
            			<div class="composition-component__btn">
               				<div class="composition-component__cbtn">
                                  <img src="img/btn-arrow.png" alt="arrow">
                            </div>
           				</div>
            		</div>
            	</div>
            	<div class="composition-content-box">
            		<div class="composition-pack">
            			<img class="composition-pack__packa" src="img/pack-tablets.png" alt="pack">
            			<img class="composition-pack__tablet" src="img/tablets.png" alt="tablets">
            			<div class="composition-pack__molecule"><img src="img/molecule.png" alt="molecule"></div>
            		</div>
            	</div>
				<div class="composition-content-box">
            		<div class="composition-component">
            			<div class="composition-component__img composition-component__img3"><img src="img/component3.png" alt="component"></div>
                  <div class="composition-overflow compo-over">
            			<div class="composition-component__name">Глюкозамин</div>
            			<div class="composition-component__text">Тормозит развитие дегенеративных процессов в суставах, <b>восстанавливает</b> их функцию, <b>уменьшая суставные боли.</b></div>
                </div>
            			<div class="composition-component__btn">
               				<div class="composition-component__cbtn">
                                  <img src="img/btn-arrow.png" alt="arrow">
                            </div>
           				</div>
            		</div>
            		<div class="composition-component">
            			<div class="composition-component__img composition-component__img4"><img src="img/component4.png" alt="component"></div>
                  <div class="composition-overflow compo-over2">
            			<div class="composition-component__name">Экстракт смолы босвеллии пильчатой</div>
            			<div class="composition-component__text"><b>Быстро снимает боль и отеки суставов,</b> защищает хрящевые ткани от различных воспалений, улучшает усвоение питательных элементов хрящами сустава.</div>
                </div>
            			<div class="composition-component__btn">
               				<div class="composition-component__cbtn">
                                  <img src="img/btn-arrow.png" alt="arrow">
                            </div>
           				</div>
            		</div>
            	</div>
            </div>
    </div>
</section>