<section class="work block">
	<div class="container">
		<h2 class="title">Как работает инновационная<br> формула <span class="logo__number">20</span><span class="accent">FLEX+</span></h2>
		<div class="work-subtitle">С каждым днем ваши суставы чувствуют себя все лучше</div>
		<div class="work-content">
			<div class="work-content-box">
				<div class="work-content-box__img"><img src="img/work-man1.png" alt="man"></div>
				<div class="work-content-box__time">1 – 10 дней</div>
				<ul class="work-content-box__lists">
					<li class="work-content-box__list">Отеки<br> 
						еле заметны</li>
					<li class="work-content-box__list">С каждым днем<br> боль все меньше</li>
					<li class="work-content-box__list">Суставы<br> восстановили<br> подвижность</li>
				</ul>
			</div>
			<div class="work-content-box">
				<div class="work-content-box__img"><img src="img/work-man2.png" alt="man"></div>
				<div class="work-content-box__time">10 – 20 дней</div>
				<ul class="work-content-box__lists">
					<li class="work-content-box__list">Пропала<br> скованность<br> 
						в движениях<br> 
						и дискомфорт</li>
					<li class="work-content-box__list">Суставы перестали<br> “скрипеть”</li>
					<li class="work-content-box__list">Исчезли отеки<br> 
						в области суставов</li>
				</ul>
			</div>
			<div class="work-content-box">
				<div class="work-content-box__img"><img src="img/work-man3.png" alt="man"></div>
				<div class="work-content-box__time">после 30 дней</div>
				<ul class="work-content-box__lists">
					<li class="work-content-box__list">Боли нет даже<br> 
						при сильной нагрузке<br> 
						на суставы</li>
					<li class="work-content-box__list">Полное<br> восстановление<br> подвижности<br> суставов</li>
					<li class="work-content-box__list">Никакого<br> дискомфорта, скрипа<br> или хруста в суставах</li>
				</ul>
			</div>
		</div>
	</div>
</section>















