<section class="age block">
    <div class="container">
        <h2 class="title"><span class="accent"><span class="logo__number">20</span>FLEX+</span> эффективен в&nbsp;любом возрасте</h2>
        <p class="age__subtitle">
            независимо от травм, болезней и&nbsp;возрастных изменений
        </p>
        <ul class="age__list">
            <li class="age__item age__item_30">
                <div class="age__item-top">
                    <div class="age__pic">
                        <img src="img/age-30.png" alt="" class="age__img">
                    </div>
                    <div class="age__item-title">Возраст 30+ лет</div>
                </div>
                <div class="age__desc">
                    <ul class="age__desc-list">
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Быстрое восстановление после травм</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Сустав не болит даже при длительных и тяжелых нагрузках</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Кости не хрустят, “сухих щелчков” нет</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="age__item age__item_50">
                <div class="age__item-top">
                    <div class="age__pic">
                        <img src="img/age-50.png" alt="" class="age__img">
                    </div>
                    <div class="age__item-title">Возраст 30 – 50 лет</div>
                </div>
                <div class="age__desc">
                    <ul class="age__desc-list">
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Избавление от резких, неожиданных болей</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Устранение тяжести в руках и ногах, проблем при сгибании и разгибании суставов</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Суставы больше не болят, не ноют, не выкручивают на погоду</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="age__item age__item_50-plus">
                <div class="age__item-top">
                    <div class="age__pic">
                        <img src="img/age-50+.png" alt="" class="age__img">
                    </div>
                    <div class="age__item-title">Возраст 50+ лет</div>
                </div>
                <div class="age__desc">
                    <ul class="age__desc-list">
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Избавление от хруста, скрипа и болей в суставах. Свободные движения, суставы – как в 40 лет!</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Бесконечные боли в спине и коленях прошли</p>
                        </li>
                        <li class="age__desc__item">
                            <div class="age__desc-bullet"></div>
                            <p class="age__desc-text">Руки слушаются, не болят, не хрустят и не щелкают</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="age__form">
                <div class="form form_age">
                        <div class="pack">
                            <img src="img/pack-tablets.png" alt="" class="pack__tablets-pack">
                            <img src="img/tablets.png" alt="" class="pack__tablets">
                        </div>
                        <div class="form__price">
                            <div class="form__price-old">
                                <div class="form__price-title">Старая цена</div>
                                <div class="form__price-value form__price-value_previous">
                                    <div class="form__prices form__prices_new"><span class="form__prices-inner x_price_previous">1980</span></div>
                                    <div class="x_currency form__currency">руб</div>
                                </div>
                            </div>
                            <div class="form__price-new">
                                <div class="form__price-title">Цена со скидкой</div>
                                <div class="form__price-value form__price-value_accent">
                                    <span class="form__prices x_price_current">990</span></span><span class="star">*</span>
                                    <div class="x_currency form__currency">руб</div>
                                </div>
                            </div>
                        </div>
                        <form action="/submit" class="form__main x_order_form" method="POST">
                            <div class="form__main-name">
                                <input class="form__main-input" name="name" placeholder="Мое имя" required="" type="text">
                            </div>
                            <div class="form__main-tel">
                                <input class="form__main-input" name="phone" placeholder="Мой телефон" required="" type="tel" autocomplete="tel">
                            </div>
                            <div class="form__btn">
                                <button class="btn" type="submit">Заказать <br> <span class="btn__small-text">со скидкой</span></button>
                                <div class="form__main-footnote">
                                    * при заказе курса
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</section>