<section class="doc block">
	<div class="container">
		<h2 class="title"><span class="accent"><span class="logo__number">20</span>FLEX+</span> с гиалуроновой кислотой – это первое эффективное средство </h2>
		<p class="doc__subtitle">для восстановления суставов</p>
		<div class="doc__content">
			<div class="doc__text">
				<p class="doc__par">
					<b>20Flex+</b> — единственное средство, которое восстанавливает суставы как у молодых спортсменов или тех, чья работа связана с физическими нагрузками и <b>износом суставов,</b> так и у людей постарше, которые страдают от <b>артроза</b> и <b>возрастных изменений в суставах.</b>
				</p>
				<p class="doc__par">
					20Flex+ было создано, чтобы помочь всем этим людям вылечить суставы быстро, эффективно и безопасно. Поэтому мы использовали гиалуроновую кислоту, главную составляющую здоровья суставов. Её мы усилили двумя эффективнейшими в лечении суставов компонентами - хондроитином и глюкозамином, которые усиливают эффект друг друга.
				</p>
				<p class="doc__par">
					Именно благодаря их взаимодействию <b>20Flex+</b> и является самым эффективным и единственным универсальным средством, которое <b>способно вернуть молодость суставам в любом возрасте.</b>
				</p>
				<p class="doc__par">
					20Flex+:
					<ul>
						<li>- обезболивание и устранение “скованности”,</li>
						<li>- восстановление хрящевой ткани и продление “молодости” сустава,</li>
						<li>- укрепление сустава от дальнейшего износа и уменьшение влияния возрастных изменений за счет восстановления естественной работы сустава. </li>
					</ul>
				</p>
				<p class="doc__par">
					<b>Что это дает пациенту?</b> После одного курса 20Flex+ он может вернуться к полноценной активной жизни. Заняться спортом или активным хобби, проводить больше времени с друзьями и близкими и главное – самостоятельно заботиться о себе.
				</p>
			</div>
			<div class="doc__footer">
				<h3 class="doc__name">Стивен Джонсон</h3>
				<p class="doc__desc">
					<i><span class="doc__desc-block">доктор медицины,</span> куратор и приглашенный эксперт разработки 20Flex+</i>
				</p>
			</div>
			<div class="doc__proved">
				<div class="doc__proved-text">
					<h3>20Flex+ доказал свою эффективность в ведущих клиниках мира</h3>
				</div>
				<div class="doc__list">
					<div class="doc-proved__item">
						<img class="doc__flag" src="./img/doc__flag-1.png" alt="">
					</div>
					<div class="doc-proved__item">
						<img class="doc__flag" src="./img/doc__flag-2.png" alt="">
					</div>
					<div class="doc-proved__item">
						<img class="doc__flag" src="./img/doc__flag-3.png" alt="">
					</div>
					<div class="doc-proved__item">
						<img class="doc__flag" src="./img/doc__flag-4.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<img class="doc__img" src="img/doc__img.png" alt="">
	</div>
</section>