<section class="efficiency block">
	<div class="container">
		<h2 class="title">Вы можете использовать <span class="accent"><span class="logo__number">20</span>FLEX</span> <span class="efficiency__span">(наружное применение)</span></h2>
		<p class="efficiency__subtitle">для повышения эффективности <span class="accent"><span class="logo__number">20</span>Flex+</span> (внутреннее применение) на 60-65% </p>
		<div class="efficiency__content">
			<div class="efficiency__flex">
				<div class="efficiency__head">
					<div class="efficiency__head-text">
						<h3>20FLEX</h3>
						<p>быстро улучшает подвижность и избавляет от боли</p>
					</div>
					<img class="efficiency__head-img" src="./img/efficiency__head-img.png" alt="">
				</div>
				<div class="efficiency__list">
					<div class="efficiency__item">
						<span class="efficiency__bullet">1</span>
						<p>Cнимает отеки за первую <br>неделю использования</p>
					</div>
					<div class="efficiency__item">
						<span class="efficiency__bullet">2</span>
						<p>Восстанавливает <br>суставный хрящ </p>
					</div>
					<div class="efficiency__item">
						<span class="efficiency__bullet">3</span>
						<p>Делает сустав сильным <br>и выносливым</p>
					</div>
				</div>
			</div>
			<div class="efficiency__plus">
				<div class="efficiency__head">
					<img class="efficiency__head-img" src="./img/pack-tablets.png" alt="">
					<div class="efficiency__head-text">
						<h3>20FLEX+</h3>
						<p>восстанавливает <span class="nowrap">и омолаживает</span> суставы</p>
					</div>
				</div>
				<div class="efficiency__list">
					<div class="efficiency__item">
						<span class="efficiency__bullet">1</span>
						<p>Устраняет боль и воспаление <br>в суставе</p>
					</div>
					<div class="efficiency__item">
						<span class="efficiency__bullet">2</span>
						<p>Разогревает и снимает <br>напряжение в области сустава </p>
					</div>
					<div class="efficiency__item">
						<span class="efficiency__bullet">3</span>
						<p>Устраняет дискомфорт и хруст <br>при движении в суставе</p>
					</div>
				</div>
			</div>
			<div class="efficiency__img">
				<img src="./img/efficiency__prod.png" alt="">
			</div>
		</div>
		<div class="efficiency__btn-block">
			<div class="form__btn">
                <button class="btn" type="submit">Заказать <br> <span class="btn__small-text">комплекс</span></button>
            </div>
		</div>
	</div>
</section>