<section class="use block">
    <div class="container">
        <h2 class="title">Как принимать <span class="accent"><span class="logo__number">20</span>FLEX+</span></h2>
        <ul class="use__ist">
            <li class="use__item">
                <div class="use__pic">
                    <img src="img/use-1.png" alt="" class="use__img">
                </div>
            </li>
            <li class="use__item">
                <div class="use__pic">
                    <img src="img/use-2.png" alt="" class="use__img">
                </div>
            </li>
            <li class="use__item">
                <div class="use__pic">
                    <img src="img/use-3.png" alt="" class="use__img">
                </div>
            </li>
        </ul>
        <div class="use__footnote">Принимать по 1 таблетке 3 раза в&nbsp;день</div>
    </div>
</section>