<section class="delivery block">
    <div class="container">
        <h2 class="delivery__title title">Закажите <span class="accent"><span class="logo__number">20</span>FLEX+</span> с&nbsp;бесплатной доставкой</h2>
        <ul class="delivery__list">
            <li class="delivery__item">
                <div class="delivery__item-wrap">
                    <div class="delivery__pic">
                        <img src="img/delivery-1.png" alt="" class="delivery__img">
                    </div>
                </div>
                <div class="delivery__item-title">Быстро</div>
                <p class="delivery__item-desc">Вы заполняете <br> форму заказа</p>
            </li>
            <!-- <li class="delivery__item-line"></li> -->
            <li class="delivery__item">
                <div class="delivery__item-wrap">
                    <div class="delivery__pic">
                        <img src="img/delivery-2.png" alt="" class="delivery__img">
                    </div>
                </div>
                <div class="delivery__item-title">Удобно</div>
                <p class="delivery__item-desc">Наш оператор перезвонит <br> и согласует все детали</p>
            </li>
            <!-- <li class="delivery__item-line"></li> -->
            <li class="delivery__item">
                <div class="delivery__item-wrap">
                    <div class="delivery__pic">
                        <div class="delivery__pic-product">
                            <img src="img/delivery-prod.png" alt="" class="delivery__pic-product-img">
                        </div>
                        <img src="img/delivery-3.png" alt="" class="delivery__img">
                    </div>
                </div>
                <div class="delivery__item-title">Безопасно</div>
                <p class="delivery__item-desc">Оплата товара только после получения. Никаких предоплат</p>
            </li>
        </ul>
    </div>
</section>