<div class="ever-popup-build">
	<div class="my-popup" id="cloneThis">
        <div class="pop-up">
            <div class="pop-up__left">
                <div class="pop-up__logo">
                    <img src="img/logo.png" alt="" class="pop-up__logo-img">
                </div>
                <div class="pack">
                    <img src="img/pack-tablets.png" alt="" class="pack__tablets-pack">
                    <img src="img/tablets.png" alt="" class="pack__tablets">
                </div>
            </div>
            <div class="pop-up__right">
                <div class="form">
                    <div class="form__title">
                        От артроза и артрита избавились 3247 человек
                    </div>
                    <div class="form__slogan">
                        Станьте одним из них!
                    </div>
                    <div class="form__price">
                        <div class="form__price-old">
                            <div class="form__price-title">Старая цена</div>
                            <div class="form__price-value form__price-value_previous">
                                <div class="form__prices form__prices_new"><span class="form__prices-inner x_price_previous">1980</span></div>
                                <div class="x_currency form__currency">руб</div>
                            </div>
                        </div>
                        <div class="form__price-new">
                            <div class="form__price-title">Цена со скидкой</div>
                            <div class="form__price-value form__price-value_accent">
                                <div class="form__prices x_price_current">990</div>
                                <div class="x_currency form__currency">руб</div>
                            </div>
                        </div>
                    </div>
                    <div class="form__date">Только <span class="form__date-accent date-0">20.12.2018</span></div>
                    <form action="/submit" class="form__main x_order_form" method="POST">
                        <div class="form__main-name">
                            <input class="form__main-input" name="name" placeholder="Мое имя" required="" type="text">
                        </div>
                        <div class="form__main-tel">
                            <input class="form__main-input" name="phone" placeholder="Мой телефон" required="" type="tel" autocomplete="tel">
                        </div>
                        <div class="form__btn">
                            <button class="btn" type="submit">Заказать <br> <span class="btn__small-text">со скидкой</span></button>
                        </div>
                    </form>
                    <div class="form__security">
                        <img src="img/security-icon.png" alt="" class="form__seurity-img">
                        Ваши данные защищены!
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>